.navcolor{
    background-color:#FF6840
}

.myLogo {
    height:99%;
}
.portContainer{
    height:390px
}
.carouselSize{
    height:250px;
    width:250px;
    margin-top:-120px
}


h2, h5, p {
    color:#fdfdfd
}

.skillContainer {
    height:390px
}